#about-me {
  margin: 30px;
}

#profile-pic {
  display: block;
  border-radius: 30%;
  margin: 0 auto;

}

#about-me-heading {
  padding-top: 10px;
}


/* Navigation CSS */
body {
  min-height: 75rem;
  background-color: #B6E3D0;
}

/*social media buttons*/
.fab {
  padding: 20px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
}



/* Home Page Heros */
  .subnav-hero-section .subnav-hero-headline {
    color: #fefefe;
  }
  
  .subnav-hero-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }
  
  .subnav-hero-subnav li {
    float: none;
    display: inline-block;
  }
  
  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #fefefe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
  }
  
  .subnav-hero-subnav li a.is-active {
    background: rgba(254, 254, 254, 0.15);
  }
  
  .subnav-hero-subnav li a:hover {
    background: rgba(254, 254, 254, 0.15);
  }
  
  /* Portfolio Hero */
  .marketing-site-hero {
    background: url("./Homework2/images/home2.jpg") top right no-repeat;
    height: 65vh;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-hero {
      background-position: center center;
    }
  }
  
  .marketing-site-hero-content {
    max-width: 100rem;
    margin: 0 auto;
    padding-left: 0%;
    padding-right: 50%;
  }
  
  .marketing-site-hero-content h1 {
    font-size: 32px;
    color:rgb(148, 147, 147) ;
    font-weight: bolder;
  }
  
  .subheader-home {
    color:rgb(148, 147, 147) ;
    font-size: 24px;
  }
  
 
  @media screen and (min-width: 40em) {
    .marketing-site-hero-content {
      padding-left: 20%;
    }
  }
  
  /* About Me Div */
 .about-me {
    padding-top: 5px;
 }

.seperator-right {
  padding: 30px;
}
 .about-the-author {
  background-color:#95A5A6 ;
  padding: 1rem;

}

.about-the-author .separator-left {
  text-align: left;

}



.about-the-author .author-title {
  text-transform: uppercase;
}


.about-the-author .author-image {

  text-align: center;
}


  
  /* Portfolio CSS */
  .marketing-site-hero-jobs {
    background: url("./Homework2/images/Contact3.jpg") top right no-repeat;
    border-bottom: 5px solid white;
    height: 65vh;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-hero-jobs {
      background-position: center center;
    }
  }
  
  .marketing-site-hero-content-jobs {
    max-width: 100rem;
    margin: 0 auto;
    padding-left: 60%;
    padding-right: 0%;
  }
  
  .marketing-site-hero-content-jobs h1 {
    font-size: 32px;
    color: #354E6B;
    font-weight: bolder;
  }
  
  .subheader {
    color: rgb(148, 147, 147);
    font-size: 24px;
  }
  
  .marketing-site-hero-content-jobs .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
    background-color: #354E6B;
    font-weight: bold;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-hero-content-jobs {
      padding-right: 10%;
    }
  }
 /*Contact CSS*/
 .marketing-site-hero-contact {
  background: url("./Homework2/images/Contact2.jpg") top right no-repeat;
  height: 65vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content-contact {
  max-width: 100rem;
  margin: 0 auto;
  padding-left: 0%;
  padding-right: 50%;
}

.marketing-site-hero-content-contact h1 {
  font-size: 32px;
  color:rgb(148, 147, 147) ;
  font-weight: bolder;
}

.subheader-home {
  color:rgb(148, 147, 147) ;
  font-size: 24px;
}


@media screen and (min-width: 40em) {
  .marketing-site-hero-content {
    padding-left: 20%;
  }
}